@import '~mdb-ui-kit/css/mdb.min.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.nav {
  background-color: rgb(249, 245, 241);
  height: 8vh;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  font-family: "Roboto", sans-serif;
  border: solid 1px rgb(36, 32, 32);
}
.nav__row {
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.nav__colLeft {
  justify-self: center;
  align-self: center;
  margin-left: 1rem;
  padding-top: 1rem;
}
.nav__colLeft .nav__title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.nav__colCenter {
  justify-self: center;
  align-self: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap !important;
}
.nav__colCenter--item {
  padding: 1rem;
  margin: 1rem;
  color: rgb(36, 32, 32);
  font-weight: 400;
}
.nav__colCenter--item:hover {
  color: rgb(128, 90, 74);
  text-decoration: none;
}
.nav__colRight {
  display: flex;
  justify-content: right;
}
.nav__colRight .search {
  width: 14rem !important;
}
.nav__colRight .nav__iconCont {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  color: rgb(36, 32, 32);
  text-decoration: none;
}
.nav__colRight .nav__iconCont .bi-cart2, .nav__colRight .nav__iconCont .bi-person-fill {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.nav__colRight .nav__iconCont .bi-cart2:hover, .nav__colRight .nav__iconCont .bi-person-fill:hover {
  color: rgb(128, 90, 74);
  text-decoration: none;
}
.nav__colRight .nav__iconCont .bi-person-fill:hover {
  color: rgb(128, 90, 74);
  text-decoration: none;
}

.header {
  height: 60vh;
  background-color: rgb(249, 245, 241);
  padding: 2rem 4rem 2rem 4rem;
}
.header__img {
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
}
.header__h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: rgb(249, 245, 241);
}

.card__caption--info {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.divContainer {
  display: flex;
  flex-wrap: wrap;
}

.body {
  background-color: rgb(249, 245, 241);
}

.gallery__row {
  height: 80vh;
  background-color: rgb(249, 245, 241);
}
.gallery__row .sidebar {
  background-color: lightgray;
  height: 100%;
}
.gallery__row .card {
  height: 50vh;
  background-color: white;
  margin: 1rem;
}
.gallery__row .card__img {
  background-color: grey;
  height: 80%;
  max-height: 80%;
}
.gallery__row .card__img2 {
  max-height: 80%;
}
.gallery__row .card__caption {
  height: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column !important;
}

.boton {
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(36, 32, 32);
  color: white;
}
.boton:hover {
  background-color: rgb(48, 44, 42);
}

.carrito {
  position: fixed;
  height: 100vh;
  width: 26rem;
  top: 0vh;
  right: 0;
  z-index: 11;
  background-color: white;
}
.carrito__toggle {
  height: 8vh;
  background-color: rgb(36, 32, 32);
  display: flex;
  align-items: center;
  align-content: center;
}
.carrito__toggle--cont {
  align-self: center;
}
.carrito__toggle--icon {
  color: white;
  height: 100%;
  margin: 0.3rem;
  cursor: pointer;
}
.carrito__toggle--icon:hover {
  cursor: pointer;
  color: lightgrey;
}
.carrito__title {
  margin: 1rem;
}
.carrito__row {
  height: 8rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.carrito__row--item {
  height: 100%;
  width: 100%;
}
.carrito__boton {
  border: none;
  background-color: white;
  font-size: 0.9rem;
  text-decoration: underline;
}
.carrito__boton:hover {
  color: rgb(165, 165, 165);
}
.carrito__img {
  height: 90%;
  width: 90%;
  background-color: grey;
}
.carrito__total {
  display: flex;
  justify-content: space-between;
}
.carrito__precio {
  height: 100%;
  width: 60%;
  background-color: grey;
}

.display-none {
  display: none;
}/*# sourceMappingURL=main.css.map */