@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header{
    height:60vh;
    background-color:$bg-light;
    padding:2rem 4rem 2rem 4rem;


    &__img{
        background-color:lightgrey;
        font-family: 'Roboto', sans-serif;
    }
    &__h2{
        height:100%;
        width:100%;
        display:flex;
        justify-content:center;
        align-content:center;
        align-items:center;
        color:$bg-light;
    }
    
}